{% extends 'base.html.twig' %}
{% block body %}
	<form class="card-body flex flex-col gap-5 p-10" id="sign_in_form" method="post" data-turbo="false">
		{% if error %}
			<div class="p-4 mb-4 text-md rounded-lg bg-danger text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="text-center mb-2.5">
			<h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
				{% trans %}Welcome{% endtrans %}
			</h3>
			<div class="flex items-center justify-center my-5">
				<img src="{{ asset('assets/favicon.png') }}"/>
			</div>
			<div class="flex items-center justify-center font-medium">
				<a class="text-2sm link" href="{{ path('app_register') }}">
					{% trans %}Sign up for an account{% endtrans %}
				</a>
			</div>
		</div>
		<div class="flex flex-col gap-1">
			<label class="form-label font-normal text-gray-900">
				{% trans %}Email{% endtrans %}
			</label>
			<input id="email" type="text" name="username" class="input"/>
		</div>
		<div class="flex flex-col gap-1">
			<div class="flex items-center justify-between gap-1">
				<label class="form-label font-normal text-gray-900">
					{% trans %}Password{% endtrans %}
				</label>
				<a class="text-2sm link shrink-0" href="{{ path('app_forgot_password_request') }}">
					{% trans %}Forgot your password?{% endtrans %}
				</a>
			</div>
			<div class="input ps-0 items-stretch" data-toggle-password="true">
				<input id="password" type="password" name="password" class="input border-s-0 rounded-r-none"/>
				<div class="btn btn-icon" data-toggle-password-trigger="true">
					<i class="ki-outline ki-eye toggle-password-active:hidden"></i>
					<i class="ki-outline ki-eye-slash !hidden toggle-password-active:!block"></i>
				</div>
			</div>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button class="btn btn-primary flex justify-center grow">
			{% trans %}Login{% endtrans %}
		</button>
	</form>
{% endblock %}
