{% set action = action is defined ? action : null %}
<tr id="file_{{ object.id }}" class='{{ action ? ' action-' ~ action }}'>
	<td class="px-6 py-3">
		<div class="flex gap-2">
			{% if action != 'remove' %}
				<a class="btn btn-sm btn-outline" href="{{ path('app_admin_files_edit', {'id': object.id}) }}">
					<i class="i-tabler-edit text-lg"></i>
				</a>
				{% if action == null %}
					<form method="post" action="{{ path('app_admin_files_delete', {'id': object.id}) }}">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ object.id) }}">
						{% set modalId = 'delete-modal-' ~ object.id %}
						<button type='button' class="btn btn-sm btn-error btn-outline" data-controller="modal" data-modal-target-modal-value="{{ modalId }}">
							<i class="i-tabler-trash text-lg"></i>
						</button>
						{% include theme.themeDirectory ~ "/partials/_delete_modal.html.twig" with {modalId: modalId, objectName: "File"|trans} %}
					</form>
				{% endif %}
			{% endif %}
		</div>
	</td>
	<td class="px-6 py-3">{{ object.id }}</td>
	<td class="px-6 py-3 flex flex-nowrap gap-3">
		{{ component('FilePreviewComponent', {file: object}) }}
	</td>
	<td class="px-6 py-3">{{ object.getFileSize()|format_bytes }}</td>
	<td class="px-6 py-3">{{ object.getMimeType() }}</td>
	<td class="px-6 py-3">{{ object.getExtension() }}</td>
	<td class="px-6 py-3">
		{% if object.status == 'Temporary' %}
			<span class="badge badge-outline badge-warning">
				{{ object.status|trans }}
			</span>
		{% endif %}

		{% if object.status == 'Permanent' %}
			<span class="badge badge-outline badge-success">
				{{ object.status|trans }}
			</span>
		{% endif %}

		{% if object.status == 'Deleted' %}
			<span class="badge badge-outline badge-error">
				{{ object.status|trans }}
			</span>
		{% endif %}
	</td>
	<td class='px-6 py-3 text-nowrap'>
		<time>{{ object.createdAt|format_datetime() }}</time>
	</td>
	<td class='px-6 py-3 text-nowrap'>
		<time>{{ object.updatedAt|format_datetime() }}</time>
	</td>
</tr>
