{% extends 'admin/users/index.html.twig' %}

{% block body %}
	<div class="p-4">
		<a href='{{ path('app_admin_files_index') }}' class="btn-info w-20">
			<span class="flex justify-center items-center">
				<span class="i-tabler-chevron-left me-2"></span>
				{% trans %}Back{% endtrans %}
			</span>
		</a>
		<div class="flex flex-wrap bg-white p-3 dark:bg-slate-900">
			<div class="md:w-9/12 w-full">
				<div class='mb-3'>
					<label class='font-bold'>{% trans %}created_at{% endtrans %}</label>
					<div>{{ file.createdAt|format_datetime('full', 'short') }}</div>
				</div>
				<div class='mb-3'>
					<label class='font-bold'>{% trans %}updated_at{% endtrans %}</label>
					<div>{{ file.updatedAt|format_datetime('full', 'short') }}</div>
				</div>

				<div class='flex items-center gap-3'>
					<a href='{{ upload_asset(file.filePath) }}' class='text-teal-500 flex items-center gap-2' target='_blank'>
						<span class='i-tabler-eye text-2xl'></span>
						{{ file.fileName }}
					</a>
					<a href='{{ upload_asset(file.filePath) }}' download='{{ file.fileName }}'>
						<span class='i-tabler-download text-2xl'></span>
					</a>
				</div>

				{{ include('admin/files/_form.html.twig') }}
			</div>
			<div class="md:w-3/12 w-full">
				<div class='md:p-3 p-0'>
					{{ include('admin/files/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
