{% import theme.themeDirectory ~ "/partials/macros.html.twig" as macros %}

<div {{ attributes }}>
	<div>
		{% set files = this.getFiles() %}
		{% set prefixedName = "file_input_" ~ this.getFullName() %}
		{% if files %}
			{% for index, file in files %}
				<div class='flex items-center gap-3 justify-between w-full mb-3'>
					{% set isPreviewable = file.isPreviewable() %}
					<a href='{{ upload_asset(file.filePath) }}' class='text-teal-400 flex items-center gap-2 {{ isPreviewable ? ' glightbox' }}' {{ not isPreviewable ? "target='_blank'" }}>
						{{ macros.file_icon(file) }}
						<span class='text-nowrap'>{{ file.fileName }}</span>
					</a>
					<div class='flex gap-3'>
						<a href='{{ upload_asset(file.filePath) }}' class="btn btn-soft btn-sm btn-outline" download='{{ file.fileName }}'>
							<span class='i-tabler-download text-xl'></span>
						</a>
						{% if this.vars.allow_delete %}
							{% set modalId = 'delete-modal-' ~ file.id %}
							{% set objectName = 'File'|trans %}
							<button type='button' class="btn btn-error btn-sm btn-outline" data-controller="modal" data-modal-target-modal-value="{{ modalId }}">
								<span class='i-tabler-trash text-xl'></span>
							</button>
							<dialog class="modal modal-bottom sm:modal-middle" id="{{ modalId }}">
								<div class="modal-box text-center">
									<button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 modal-close">
										<i class="i-tabler-x"></i>
									</button>
									<span class="i-tabler-info-circle-filled text-primary mx-auto mb-4 text-8xl"></span>
									<h3 class="text-lg font-bold">{% trans with {'object': objectName} %}Are you sure you want to delete this :objectName?{% endtrans %}</h3>
									<div class="modal-action">
										<button type="button" class="btn btn-error modal-close" data-action="live#action"  data-live-action-param="removeFile" data-live-index-param="{{ index }}">
											{% trans %}Yes{% endtrans %}
										</button>
										<button type="button" class="btn btn-light modal-close">
											{% trans %}No{% endtrans %}
										</button>
									</div>
								</div>
							</dialog>
						{% endif %}
						<input type='hidden' name='{{ this.getFullName() }}' value='{{ file.id }}'/>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if this.error %}
			<p class="text-red-800 font-bold">{{ this.error }}</p>
		{% endif %}

		<span data-loading>{% trans %}Uploading...{% endtrans %}</span>
		<input type='file' {{ this.vars.attr.multiple|default('') }} accept="{{ this.vars.attr.accept|default('') }}" name='{{ prefixedName }}' onchange='document.getElementById("{{ this.vars.id }}").click()' class='file-input w-full'/>
		<button type='button' id='{{ this.vars.id }}' data-action="live#action" data-live-action-param="files({{ prefixedName }})|uploadFile" class='hidden'/>
	</div>
</div>
