{% extends '@base_theme/base.html.twig' %}
{% block title %}{% endblock %}
{% block aside %}{% endblock %}
{% set mainClasses = "min-h-full mt-14 mb-10" %}
{% block body %}
	<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
		<div class="w-full sm:max-w-md p-5 mx-auto">
			<h2 class="mb-12 text-center text-5xl font-extrabold">Reset your password</h2>
			<form method="post">
                {% form_theme resetForm '@base_theme/form_theme.html.twig' %}
				{{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <div class="mt-6">
                        <button class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">Reset password</button>
                    </div>
				{{ form_end(resetForm) }}
				<div class="mt-6 text-center">
					<a href="{{ path('app_login') }}" class="underline">{% trans %}Have an account?{% endtrans %}</a>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>
		</div>
	</div>
{% endblock %}
