{% set action = action is defined ? action : null %}
<tr id="user_{{ object.id }}" class='{{ action ? ' action-' ~ action }}'>
	<td class="px-6 py-3">
		<div class="flex flex-nowrap gap-2">
			{% if action != 'remove' %}
				<a class="btn btn-sm btn-primary btn-outline" href="{{ path('app_admin_users_edit', {'id': object.id}) }}">
					<i class="i-tabler-edit text-lg"></i>
				</a>
				
				{% if is_granted('ROLE_ALLOWED_TO_SWITCH') and object.id != app.user.id %}
					<a class="btn btn-sm btn-info btn-outline" data-turbo="false" href="?_switch_user={{ object.email }}" data-tooltip="true">
						<i class="i-tabler-login-2 text-lg"></i>
					</a>
				{% endif %}
			{% endif %}
		</div>
	</td>
	<td class="px-6 py-3">{{ object.id }}</td>
	<td class="px-6 py-3">{{ object.name }}</td>
	<td class="px-6 py-3">{{ object.email }}</td>
	<td class="px-6 py-3">
		{% if object.status.value == 'Banned' %}
			<span class="badge badge-danger">
				{{ object.status.value|trans }}
			</span>
		{% endif %}

		{% if object.status.value == 'Blocked' %}
			<span class="badge badge-warning">
				{{ object.status.value|trans }}
			</span>
		{% endif %}

		{% if object.status.value == 'Active' %}
			<span class="badge badge-success">
				{{ object.status.value|trans }}
			</span>
		{% endif %}
	</td>
	<td class="px-6 py-3">
		{% set roles = object.roles ?? [] %}
		<div class="flex flex-wrap items-baseline gap-2">
			{% if constant('ROLE_SUPER_ADMIN', object) in roles %}
				<span class="badge badge-outline badge- text-nowrap">
					Super Admin
				</span>
			{% endif %}

			{% if constant('ROLE_ADMIN', object) in roles %}
				<span class="badge badge-outline badge-error text-nowrap">
					{% trans %}Admin{% endtrans %}
				</span>
			{% endif %}

			{% if constant('ROLE_USER', object) in roles %}
				<span class="badge badge-outline badge-primary text-nowrap">
					{% trans %}User{% endtrans %}
				</span>
			{% endif %}
		</div>
	</td>
	<td class='px-2'>
		<time>{{ object.lastAccess ? object.lastAccess|format_datetime() }}</time>
	</td>
	<td class='px-2'>
		<time>{{ object.createdAt|format_datetime() }}</time>
	</td>
</tr>
