<aside id="sidebar" class="fixed flex flex-col top-0 md:top-14 left-0 md:w-14 hover:md:w-64 bg-slate-900 dark:bg-gray-900 h-full text-white !transition-all duration-300 border-none z-40 -translate-x-full md:translate-x-0 sidebar">
	<div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
		<ul class="flex flex-col py-4 space-y-1">
			<li>
				<a href="{{ path('homepage') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 text-gray-200 pr-6">
					<span class="inline-flex justify-center items-center ml-4">
						<span class="i-tabler-home"></span>
					</span>
					<span class="ml-2 text-sm tracking-wide truncate">{% trans %}Home{% endtrans %}</span>
				</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('app_admin') }}" data-turbo-frame="base-content" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 text-gray-200 pr-6">
						<span class="inline-flex justify-center items-center ml-4">
							<span class="i-tabler-dashboard"></span>
						</span>
						<span class="ml-2 text-sm tracking-wide truncate">{% trans %}Dashboard{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_users_index') }}" data-turbo-frame="base-content" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 text-gray-200 pr-6">
						<span class="inline-flex justify-center items-center ml-4">
							<span class="i-tabler-users"></span>
						</span>
						<span class="ml-2 text-sm tracking-wide truncate">{% trans %}Users{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_files_index') }}" data-turbo-frame="base-content" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 text-gray-200 pr-6">
						<span class="inline-flex justify-center items-center ml-4">
							<span class="i-tabler-file"></span>
						</span>
						<span class="ml-2 text-sm tracking-wide truncate">{% trans %}Files{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_page_index') }}" data-turbo-frame="base-content" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 text-gray-200 pr-6">
						<span class="inline-flex justify-center items-center ml-4">
							<span class="i-tabler-file-symlink"></span>
						</span>
						<span class="ml-2 text-sm tracking-wide truncate">{% trans %}Pages{% endtrans %}</span>
					</a>
				</li>
			{% endif %}
		</ul>
		<a href="{{ path('homepage') }}" class="flex items-center md:mb-14 h-11 focus:outline-none text-white-600 border-l-4 border-transparent text-gray-200 pr-6">
			<img class="h-7 md:h-10 ml-3 mr-1 rounded-md object-cover" src="{{ asset('assets/favicon.png') }}"/>
			<span class="ml-2 text-xs tracking-wide truncate">
				{{ app_name }}
				@{{ 'now'|date('Y') }}
			</span>
		</a>
	</div>
</aside>