<header class="fixed w-full flex items-center justify-between h-14 text-white z-10 bg-white dark:bg-slate-800">
	<div class="flex ml-1">
		<button id="sidebar-toggle" data-drawer-target="sidebar" data-drawer-toggle="sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
			<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
			</svg>
		</button>
		<a href="{{ path('homepage') }}" class="flex items-center justify-start md:justify-center pl-3 w-14 md:w-64 h-14 dark:bg-slate-800 text-slate-900 dark:text-gray-200 border-none">
			<img class="h-7 md:h-10 mr-2 rounded-md overflow-hidden" src="{{ asset('assets/favicon.png') }}"/>
			<span class="hidden md:block ms-2">{{ app_name }}</span>
		</a>
	</div>
	<div class="flex justify-end items-center h-14 bg-white dark:bg-gray-800">
		<ul class="flex items-center">
			<li>
				<button aria-hidden="true" id="theme-toggle" class="group rounded-full p-2 pb-1 transition-colors ring-1 ring-slate-200 hover:ring-slate-300 duration-200 hover:bg-gray-200 text-gray-900 dark:bg-slate-800 dark:hover:bg-slate-700 dark:text-gray-50 focus:outline-none">
					<span id="theme-toggle-light-icon" class="i-tabler-sun text-2xl hidden"></span>
					<span id="theme-toggle-dark-icon" class="i-tabler-moon text-2xl hidden"></span>
				</button>
			</li>
			<li>
				<div class="block w-px h-6 mx-3 bg-slate-300 dark:bg-slate-500"></div>
			</li>
			<li>
				<button data-dropdown-toggle="account-dropdown" class="ring-1 ring-slate-200 text-slate-700 focus:ring-4 focus:outline-none hover:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-slate-800 dark:hover:bg-slate-700 dark:focus:ring-slate-800 dark:text-gray-200 me-2 transition-colors duration-200" type="button">
					{% if app.user %}
						{% if app.user.profilePhoto %}
							<img src='{{ upload_asset(app.user.profilePhoto.filePath) }}' class='w-7 h-7 object-cover me-2'/>
						{% else %}
							<span class='i-tabler-user-circle text-2xl me-2'></span>
						{% endif %}

						{{ app.user.name }}
					{% else %}
						{% trans %}Account{% endtrans %}
					{% endif %}
					<span class="i-tabler-chevron-down text-lg"></span>
				</button>

				<!-- Dropdown menu -->
				<div id="account-dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
					<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
						{% if app.user %}
							<li>
								{% if is_granted('IS_IMPERSONATOR') %}
									<a href="{{ impersonation_exit_path(path('homepage') ) }}" class="block px-4 py-2 text-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
										<span class="flex justify-between items-center">
											<span>{% trans %}Logout{% endtrans %}</span>
											<span class="i-tabler-logout text-2xl"></span>
										</span>
									</a>
								{% else %}
									<a href="{{ path('app_logout') }}" class="block px-4 py-2 hover:bg-gray-100 text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white">
										<span class="flex justify-between items-center">
											<span>{% trans %}Logout{% endtrans %}</span>
											<span class="i-tabler-logout text-2xl"></span>
										</span>
									</a>
								{% endif %}
							</li>
						{% else %}
							<li>
								<a href="{{ path('app_login') }}" class="block px-4 py-2 hover:bg-gray-100 text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white">
									<span class="flex justify-between items-center">
										<span>{% trans %}Login{% endtrans %}</span>
										<span class="i-tabler-login text-2xl"></span>
									</span>
								</a>
							</li>
							<li>
								<a href="{{ path('app_register') }}" class="block px-4 py-2 hover:bg-gray-100 text-gray-800 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white">
									<span class="flex justify-between items-center">
										<span>{% trans %}Register{% endtrans %}</span>
										<span class="i-tabler-user-plus text-2xl"></span>
									</span>
								</a>
							</li>
						{% endif %}
						<li>
							{% for locale in locales() %}
								{% set is_active = app.request.locale == locale.code %}
								{% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
								<li class="block px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white {{ is_active ? 'bg-slate-300 dark:bg-slate-600' }} {{ is_rtl ? 'rtl' }}" translate="no">
									<a class="stretched-link flex justify-between text-gray-800 dark:text-gray-200" lang="{{ locale.code }}" hreflang="{{ locale.code }}" href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
										{{ locale.name|capitalize }}
										<small class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ locale.code|upper }}</small>
									</a>
								</li>
							{% endfor %}
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</header>
