<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ title ?? app_name }}</title>
		<link rel="icon" href="{{ asset('assets/favicon.ico') }}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="light" x-data="setup()" :class="{ 'dark': isDark }">
		<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white">
			{% block header %}
				{% include "@base_theme/_header.html.twig" %}
			{% endblock %}

			{% block aside %}
				{% include "@base_theme/_aside.html.twig" %}
			{% endblock %}
			<main class="{{ mainClasses|default('min-h-full ml-14 mt-14 md:ml-64 bg-slate-100 dark:bg-slate-600 h-[calc(100vh-56px)]') }}">
				{% block title %}
					<div class="w-100 p-3 ms-2 min-h-20 flex justify-between items-center">
						<h1 class='font-bold text-xl text-gray-600 dark:text-gray-200'>{{ title ?? app_name }}</h1>
						<div class='flex gap-2'>
							{% block actions %}{% endblock %}
						</div>
					</div>
				{% endblock %}
				{% block flashes %}
					{{ include('@base_theme/partials/flash_messages.html.twig') }}
				{% endblock %}
				{% if form is defined %}
					{% form_theme form '@base_theme/form_theme.html.twig' %}
				{% endif %}
				{% block body %}{% endblock %}
			</main>
		</div>
	</body>
</html>
