{% use 'tailwind_2_layout.html.twig' %}

{%- block form_row -%}
    {%- set row_class = row_class|default('mb-4') -%}
    {{ parent() }}
{%- endblock form_row -%}

{%- block widget_attributes -%}
    {% if type is defined and type == "file" %}
        {%- set widget_class = widget_class|default('file-input file-input-primary w-full') -%}
    {% elseif type is defined and type == "password" %}
        {%- set widget_class = widget_class|default('w-full') -%}
    {% else %}
        {%- set widget_class = widget_class|default('input input-primary w-full') -%}
    {% endif %}
    {%- set widget_disabled_class = widget_disabled_class|default('input-disabled') -%}
    {%- set widget_errors_class = widget_errors_class|default('text-error') -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}

{%- block choice_widget_expanded -%}
    {%- set attr = attr|merge({ class: attr.class|default('mt-2') }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="flex items-center gap-2 mt-2">
                {{- form_widget(child) -}}
                {{- form_label(child, null, { translation_domain: choice_translation_domain }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block form_label -%}
    {%- set label_class = label_class|default('label label-text font-bold') -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_help -%}
    {%- set help_class = help_class|default('label label-text-alt text-base-content text-wrap') -%}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block form_errors -%}
    {%- set error_item_class = error_item_class|default('text-error') -%}
    {{- parent() -}}
{%- endblock form_errors -%}

{%- block button_widget -%}
    {%- set attr = attr|merge({
        class: attr.class|default('btn btn-primary')
    }) -%}
    {{- parent() -}}
{%- endblock button_widget -%}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('toggle toggle-primary mr-2') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}


{%- block radio_widget -%}
    {%- set widget_class = widget_class|default('radio radio-primary mr-2') -%}
    {{- parent() -}}
{%- endblock radio_widget -%}

{%- block textarea_widget -%}
    {%- set widget_class = widget_class|default('textarea textarea-primary w-full') -%}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'password' -%}
        <div class="input input-primary w-full flex items-center" {{ stimulus_controller('password-input') }}>
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {{ stimulus_target('password-input', 'input') }}/>
            <label class="btn btn-ghost !h-full absolute end-0 swap swap-rotate" {{ stimulus_action('click->password-input', 'toggle') }}>
                <input id="{{ id }}-password-toogle" type="checkbox" class="hidden"/>
                <i class="i-tabler-eye text-lg swap-off"></i>
                <i class="i-tabler-eye-off text-lg swap-on"></i>
            </label>
        </div>
    {% else %}
        {{ parent() }}
    {%- endif -%}
{%- endblock form_widget_simple -%}

{% block async_file_row %}
    <div class='mb-4'>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ component('FormType:AsyncFileInput', {
            vars: form.vars
        }) }}
        {{ form_help(form) }}
    </div>
{% endblock %}

{% block live_async_file_row %}
    {% import theme.themeDirectory ~ "/partials/macros.html.twig" as macros %}
    <div class='mb-4'>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {% set isMultiple = form.vars.attr.multiple|default(false) %}
        {% if isMultiple %}
            {% for index, file in data %}
                {{ macros.live_async_file_preview(file, full_name, index, allow_delete) }}
            {% endfor %}
        {% elseif data %}
            {{ macros.live_async_file_preview(data, full_name, 0, allow_delete) }}
        {% endif %}
        {% set prefixedName = "live_file_input_" ~ full_name %}
        <input type='file' {{ isMultiple ? 'multiple' }} accept="{{ form.vars.attr.accept|default('') }}" name='live_file_input_{{ full_name  ~ (isMultiple ? "[]") }}' onchange='document.getElementById("{{ form.vars.id }}").click()' class='file-input file-input-primary w-full'/>
		<button type='button' id='{{ form.vars.id }}' data-action="live#action" data-live-action-param="files(live_file_input_{{ full_name ~ (isMultiple ? "[]") }})|uploadFile" data-live-name-param="{{ full_name }}" class='hidden'></button>
        {{ form_help(form) }}
    </div>
{% endblock %}

{% block live_collection_button_add_widget %}
    {% set attr = attr|merge({'class': attr.class|default('btn btn-success btn-sm mt-1')}) %}
    {% set translation_domain = false %}
    {% set label_html = true %}
    {%- set label -%}
        <i class='ki-filled ki-plus'></i>
        {{ label|default('Add')|trans }}
    {%- endset -%}
    {{ block('button_widget') }}
{% endblock live_collection_button_add_widget %}

{% block live_collection_button_delete_widget %}
    {% set attr = attr|merge({'class': attr.class|default('btn btn-error btn-sm')}) %}
    {% set translation_domain = false %}
    {% set label_html = true %}
    {%- set label -%}
        <i class='ki-filled ki-trash'></i>
        {{ (label|default('Delete'))|trans }}
    {%- endset -%}
    {{ block('button_widget') }}
{% endblock live_collection_button_delete_widget %}

{%- block live_collection_widget -%}
    <div class='card card-bordered'>
        <button class='card-header active' role="button" data-collapse='#{{ id }}_wrapper_content'>
            <h3 class='card-title'>{{ block('form_label_content') }}</h3>
            <div>
                <i class="ki-outline ki-arrow-down collapse-active:hidden"></i>
                <i class="ki-outline ki-arrow-up hidden collapse-active:block"></i>
            </div>
        </button>
        <div class='card-body transition-all duration-300 active' id="{{ id }}_wrapper_content">
            {{ block('form_widget') }}
        </div>
        <div class='card-footer'>
            {%- if button_add is defined and not button_add.rendered -%}
                {{ form_row(button_add) }}
            {%- endif -%}
        </div>
    </div>
{%- endblock -%}

{%- block live_collection_entry_row -%}
    <div class='card card-bordered mb-4'>
        <button class='card-header active' data-collapse='#{{ id }}_content'>
            <h3 class='card-title'>{{ (form.parent.vars.label ? form.parent.vars.label|trans ~ ' - ' : '') ~  (name + 1) }}</h3>
            <div>
                <i class="ki-outline ki-arrow-down collapse-active:hidden"></i>
                <i class="ki-outline ki-arrow-up hidden collapse-active:block"></i>
            </div>
        </button>
        <div class='card-body transition-all duration-300 active' id="{{ id }}_content">
            {{ block('form_row') }}
        </div>
        {%- if button_delete is defined and not button_delete.rendered -%}
            <div class='card-footer'>
                {{ form_row(button_delete) }}
            </div>
        {%- endif -%}
    </div>
{%- endblock live_collection_entry_row -%}

{% block live_table_collection_row %}
    {% set attr = attr|merge({'class': attr.class|default('')}) %}
     <div {{ block('widget_container_attributes') }} >
        <table class="table table-border caption-top">
            <caption class="text-start font-bold mb-3 sticky left-0 text-xl p-3">
                {{ form_label(form) }}
            </caption>
            <thead class="text-xs uppercase">
                <tr class="border-b border-t">
                    {% for prototypeChild in prototype %}
                        <th class="min-w-10 text-gray-700 font-normal text-start text-nowrap">
                            <span>{{ form_label(prototypeChild) }}</span>
                        </th>
                    {% endfor %}
                <tr>
            </thead>
            <tbody>
                {% for index, child in form %}
                    <tr>
                    {% if not child.rendered %}
                        {% for innerChild in child %}
                            {% if not innerChild.rendered %}
                                <td class="px-2 py-2 align-baseline">
                                    {{ form_widget(innerChild) }}
                                    {{ form_errors(innerChild) }}
                                </td>
                            {% endif %}
                        {% else %}
                            <td class="px-2 py-2 align-baseline">
                                {{ form_widget(child) }}
                                {{ form_errors(child) }}
                            </td>
                        {% endfor %}
                        {%- if child.vars.button_delete is defined and not child.vars.button_delete.rendered -%}
                            <td class="px-2 py-2 align-baseline">
                                {{ form_row(child.vars.button_delete) }}
                            </td>
                        {%- endif -%}
                    {% endif %}
                    </tr>
                {%- endfor -%}
            </tbody>
        </table>
        {%- if button_add is defined and not button_add.rendered -%}
            {{ form_row(button_add) }}
        {%- endif -%}
    </div>
{% endblock %}

{% block table_collection_row %}
    {% set prototypeHtml = "<tr class='collection-item'>" %}
    {% for prototypeChild in prototype %}
        {% if not prototypeChild.rendered %}
            {% set prototypeHtml = prototypeHtml ~ 
            "<td class='px-2 py-2 align-baseline'>
                #{ form_widget(prototypeChild) }
                #{ form_errors(prototypeChild) }
            </td>" %}
        {% endif %}
    {% else %}
        {% set prototypeHtml = prototypeHtml ~ 
            "<td class='px-2 py-2 align-baseline'>
                #{ form_widget(prototype) }
                #{ form_errors(prototype) }
            </td>" %}
    {% endfor %}
    {% if allow_delete %}
        {% set prototypeHtml = prototypeHtml ~ "<td class='px-2 py-2 align-baseline'>
            <button type='button' class='btn btn-error btn-sm' #{ stimulus_action('form-collection', 'removeCollectionItem') }>
                <i class='ki-filled ki-trash'></i>
            </button>
        </td>" %}
    {% endif %}
    {% set prototypeHtml = prototypeHtml ~ "</tr>" %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
    {% set attr = attr|merge({'class': attr.class|default('collection-widget-container')}) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}

     <div {{ block('widget_container_attributes') }}>
        <div class='card' 
            {{ stimulus_controller('form-collection') }}
            data-form-collection-index-value="{{ value ? value.count() : 0 }}"
            data-form-collection-container-tag-value="tr"
            data-form-collection-prototype-value="{{ prototypeHtml }}">
            <div class='card-body overflow-auto'>
                <table class="table table-border caption-top">
                    <caption class="text-start font-bold mb-3 sticky left-0 text-xl p-3">
                        {{ form.vars.label }}
                    </caption>
                    <thead class="text-xs uppercase">
                        <tr>
                            {% for prototypeChild in prototype %}
                                <th class="px-6 py-3 text-nowrap">
                                    <span>{{ form_label(prototypeChild) }}</span>
                                </th>
                            {% endfor %}
                        <tr>
                    </thead>
                    <tbody {{ stimulus_target('form-collection', 'collectionContainer') }}>
                    {% for index, child in form %}
                            <tr class="collection-item">
                            {% if not child.rendered %}
                                {% for innerChild in child %}
                                    {% if not innerChild.rendered %}
                                        <td class="px-2 py-2 align-baseline">
                                            {{ form_widget(innerChild) }}
                                            {{ form_errors(innerChild) }}
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td class="px-2 py-2 align-baseline">
                                        {{ form_widget(child) }}
                                        {{ form_errors(child) }}
                                    </td>
                                {% endfor %}
                                {% if allow_delete %}
                                    <td class="px-2 py-2 align-baseline">
                                        <button type='button' class='btn btn-error btn-sm' {{ stimulus_action('form-collection', 'removeCollectionItem') }}>
                                            <i class='ki-filled ki-trash'></i>
                                        </button>
                                    </td>
                                {% endif %}
                            {% endif %}
                            </tr>
                    {%- endfor -%}
                    </tbody>
                </table>
            </div>
            {% if allow_add %}
                <div class='card-footer'>
                    <button class="btn btn-sm btn-primary mt-2" type='button' {{ stimulus_action('form-collection', 'addCollectionItem') }}>
                        <i class='ki-filled ki-plus'></i>
                        <span>
                            {% if form.vars.label %}
                                {% trans with {label: form.vars.label} %}Add New label{% endtrans %}
                            {% else %}
                                {% trans %}Add{% endtrans %}
                            {% endif %}
                        </span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{%- block collection_widget -%}
    {% set prototypeHtml = "<div class='card mb-3'>
					<button class='card-header active' role='button' data-collapse='#__name___content'>
						<h3 class='card-title '>
							" ~ label ~ "
							-
							<span>__name_index__</span>
						</h3>
                        <div>
                            <i class='ki-outline ki-arrow-down collapse-active:hidden'></i>
                            <i class='ki-outline ki-arrow-up !hidden collapse-active:!block'></i>
                        </div>
					</button>
					<div class='card-body transition-all duration-300 active' id='__name___content'>
						" ~ form_widget(prototype) ~ "
					</div>" ~ (
                        allow_delete ?
                        "<div class='card-footer'>
							<button type='button' class='btn btn-error btn-sm' " ~ stimulus_action('form-collection', 'removeCollectionItem') ~ ">
								<i class='ki-filled ki-trash'></i>
                                " ~ "Delete"|trans ~ "
							</button>
						</div>" : ""
                    ) ~
				"</div>" %}
    <div {{ stimulus_controller('form-collection') }} 
        class='card mb-3 collection-widget-container'
        id="{{ id }}"
        data-form-collection-index-value="{{ value ? value.count() : 0 }}"
        data-form-collection-container-tag-value="li"
        data-form-collection-prototype-value="{{ prototypeHtml }}">
        <button class='card-header active' role='button' data-collapse="#{{ id }}_content">
            <h3 class="card-title">
                {{ form.vars.label }}
            </h3>
            <div>
                <i class="ki-outline ki-arrow-down collapse-active:hidden"></i>
                <i class="ki-outline ki-arrow-up !hidden collapse-active:!block"></i>
            </div>
        </button>
        <div class="card-body transition-all duration-300 active" id="{{ id }}_content">
            <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
                {% for index, child in form %}
                    <div class='card mb-3 collection-item' id="{{ child.vars.id }}">
                        <button class="card-header active" role='button' data-collapse="#{{ child.vars.id }}_content">
                            <h3 class="card-title">
                                {{ label }}
                                -
                                {{ index + 1 }}
                            </h3>
                            <div>
                                <i class="ki-outline ki-arrow-down collapse-active:hidden"></i>
                                <i class="ki-outline ki-arrow-up !hidden collapse-active:!block"></i>
                            </div>
                        </button>
                        <div class='card-body transition-all duration-300 active' id="{{ child.vars.id }}_content">
                            {% if not child.rendered %}
                                {{ form_widget(child) }}
                            {% endif %}
                        </div>
                        {% if allow_delete %}
                            <div class="card-footer">
                                <button type='button' class='btn btn-error btn-sm' {{ stimulus_action('form-collection', 'removeCollectionItem') }}>
                                    <i class='ki-filled ki-trash'></i>
                                    <span>{% trans %}Delete{% endtrans %}</span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {%- endfor -%}
            </ul>
        </div>
        <div class="card-footer">
            {% if allow_add and prototype is defined %}
                <button type="button" class="btn btn-sm btn-primary mt-2" {{ stimulus_action('form-collection', 'addCollectionItem') }}>
                    <i class='ki-filled ki-plus'></i>
                    <span>
                        {% if form.vars.label %}
                            {% trans with {label: form.vars.label} %}Add New label{% endtrans %}
                        {% else %}
                            {% trans %}Add{% endtrans %}
                        {% endif %}
                    </span>
                </button>
            {% endif %}
        </div>
    </div>
{%- endblock collection_widget -%}


