{% import theme.themeDirectory ~ "/partials/macros.html.twig" as macros %}

<div {{ attributes }}>
	<div>
		{% set files = this.getFiles() %}
		{% set prefixedName = "file_input_" ~ this.getFullName() %}
		{% if files %}
			{% for index, file in files %}
				<div class='flex items-center gap-3 justify-between w-full mb-3'>
					{% set isPreviewable = file.isPreviewable() %}
					<a href='{{ upload_asset(file.filePath) }}' class='text-teal-400 flex items-center gap-2 {{ isPreviewable ? ' glightbox' }}' {{ not isPreviewable ? "target='_blank'" }}>
						{{ macros.file_icon(file) }}
						<span class='text-nowrap'>{{ file.fileName }}</span>
					</a>
					<div class='flex gap-3'>
						<a href='{{ upload_asset(file.filePath) }}' download='{{ file.fileName }}'>
							<span class='i-tabler-download text-2xl'></span>
						</a>
						{% set modalId = 'delete-modal-' ~ file.id %}
						{% set objectName = 'File'|trans %}
						<button type='button' data-modal-toggle="#{{ modalId }}">
							<span class='ki-filled ki-trash text-red-500 text-2xl'></span>
						</button>
						<div class="modal" data-modal="true" id="{{ modalId }}">
							<div class="modal-content max-w-[600px] top-[20%]">
								<div class="modal-header">
									<button type="button" class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
										<i class="ki-outline ki-cross"></i>
										<span class="sr-only">{% trans %}Close{% endtrans %}</span>
									</button>
								</div>
								<div class="modal-body text-center">
									<span class="ki-filled ki-information-3 mx-auto mb-4 text-8xl"></span>
									<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{% trans with {'object': objectName} %}Are you sure you want to delete this :objectName?{% endtrans %}</h3>
									<div class="flex justify-center gap-3">
										<button data-modal-dismiss="true" type="button" class="btn btn-danger" data-action="live#action"  data-live-action-param="removeFile" data-live-index-param="{{ index }}">
											{% trans %}Yes{% endtrans %}
										</button>
										<button data-modal-dismiss="true" type="button" class="btn btn-light">
											{% trans %}No{% endtrans %}
										</button>
									</div>
								</div>
							</div>
						</div>

						<input type='hidden' name='{{ this.getFullName() }}' value='{{ file.id }}'/>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if this.error %}
			<p class="text-red-800 font-bold">{{ this.error }}</p>
		{% endif %}

		<span data-loading>{% trans %}Uploading...{% endtrans %}</span>
		<input type='file' {{ this.vars.attr.multiple|default('') }} accept="{{ this.vars.attr.accept|default('') }}" name='{{ prefixedName }}' onchange='document.getElementById("{{ this.vars.id }}").click()' class='file-input'/>
		<button type='button' id='{{ this.vars.id }}' data-action="live#action" data-live-action-param="files({{ prefixedName }})|uploadFile" class='hidden'/>
	</div>
</div>
