{% extends "@base_theme/partials/datatable.html.twig" %}

{% block rows %}
	{% for page in pagination %}
		<tr class='bg-gray-100 hover:bg-gray-200 border-b dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600'>
			<td class="px-6 py-3 flex gap-2">
				<a href="{{ path('app_admin_page_edit', {'id': page.id}) }}">
					<span class='i-tabler-edit text-blue-600 dark:text-gray-200 text-xl'></span>
				</a>
				<a href='{{ path('app_page_view', {'slug': page.slug}) }}'>
					<span class='i-tabler-eye text-indigo-500 dark:text-gray-200 text-xl'></span>
				</a>
				<form method="post" action="{{ path('app_admin_page_delete', {'id': page.id}) }}">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
					{% set modalId = 'delete-modal-' ~ page.id %}
					<button type='button' class='text-red-600' role='button' data-modal-target="{{ modalId }}" data-modal-toggle="{{ modalId }}">
						<span class='i-tabler-trash me-1 text-xl'></span>
					</button>
					{% include "@base_theme/partials/delete_modal.html.twig" with {modalId: modalId, objectName: "Page"|trans} %}
				</form>
			</td>
			<td class="px-6 py-3">{{ page.id }}</td>
			<td class="px-6 py-3">{{ page.title }}</td>
			<td class="px-6 py-3">
				{% if page.published %}
					<span class="bg-blue-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
						{% trans %}Published{% endtrans %}
					</span>
				{% else %}
					<span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">
						{% trans %}Unpublished{% endtrans %}
					</span>
				{% endif %}

			</td>
			<td class='px-6 py-3 text-nowrap'>
				<time>{{ page.createdAt|format_datetime() }}</time>
			</td>
			<td class='px-6 py-3 text-nowrap'>
				<time>{{ page.updatedAt|format_datetime() }}</time>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="6" class="px-6 py-3">{{ 'No Result Found'|trans }}</td>
		</tr>
	{% endfor %}
{% endblock %}
