{% set pagination = this.getpagination() %}
<div {{ attributes }}>
	<div class="relative mb-5">
		<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
			<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
			</svg>
		</div>
		<input type="search" data-model="query" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{'Search users'|trans}}" required>
	</div>
	<div class='w-full'>
		<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
				<tr>
					<th class="px-6 py-3">Actions</th>
					<th class="px-6 py-3">{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
					<th class="px-6 py-3">{{ knp_pagination_sortable(pagination, 'Name', 'u.name') }}</th>
					<th class="px-6 py-3">Email</th>
					<th class="px-6 py-3">Roles</th>
				</tr>
			</thead>
			<tbody>
				{% for user in pagination %}
					<tr>
						<td class="px-6 py-3">
							<a href="{{ path('app_admin_users_edit', {'id': user.id}) }}">
								<span class='i-tabler-edit text-blue-600 dark:text-gray-200'></span>
							</a>
						</td>
						<td class="px-6 py-3">{{ user.id }}</td>
						<td class="px-6 py-3">{{ user.name }}</td>
						<td class="px-6 py-3">{{ user.email }}</td>
						<td class="px-6 py-3">
							{% set roles = user.roles ?? [] %}

							{% if constant('ROLE_SUPER_ADMIN', user) in roles %}
								<span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
									Super Admin
								</span>
							{% endif %}

							{% if constant('ROLE_ADMIN', user) in roles %}
								<span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">
									Admin
								</span>
							{% endif %}

							{% if constant('ROLE_USER', user) in roles %}
								<span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
									User
								</span>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6" class="px-6 py-3">{{ 'No Result Found'|trans }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{{ knp_pagination_render(pagination, 'components/pagination.html.twig') }}
</div>
