<div {{ attributes }} class="grid gap-5 lg:gap-7.5">
	<div class="card card-grid min-w-full">
		<div class="card-header py-5 flex-wrap justify-end gap-2">
			{% block filters %}
				<div class="relative max-w-full">
					<div class="input input-md w-full sm:w-64">
						<i class="ki-outline ki-magnifier"></i>
						<input type="search" data-model="debounce(300)|query" autocomplete='off' value="{{ this.query }}" placeholder="{{'Search'|trans}}" class="{{filterForm ? 'pe-16'}}">
					</div>
					{% if filterForm %}
						<div class="dropdown absolute end-0 top-0" data-dropdown="true" data-dropdown-trigger="click" data-dropdown-placement="bottom-end">
							<button class="dropdown-toggle btn">
								<i class="ki-solid ki-filter"></i>
								<i class="ki-outline ki-down dropdown-open:!hidden"></i>
								<i class="ki-outline ki-up !hidden dropdown-open:!block"></i>
							</button>
							<div class="dropdown-content ">
								{{ form_start(filterForm) }}
								<div class="p-4 w-64 max-h-96 scrollable-y">
									{% for field in filterForm %}
										<div class="form-group">
											{{ form_row(field) }}
										</div>
									{% endfor %}
								</div>
								<div class="sticky bottom-0 bg-[--tw-page-bg]">
									<button type="reset" class="btn btn-danger btn-outline btn-sm w-full rounded-t-none justify-center" data-action="live#action" data-live-action-param="resetFilters">
										{{ 'Clear'|trans }}
									</button>
								</div>
								{{ form_end(filterForm) }}
							</div>
						</div>
					{% endif %}
				</div>
			{% endblock %}
		</div>
		<div class="card-body">
			<div class="overflow-x-auto">
				{% set pagination = this.getPagination() %}
				<table class="table table-border caption-top" data-loading="addClass(opacity-50 blur-sm)">
					<caption class="text-start font-bold my-3 ms-3">
						{% set end = ((pagination.getCurrentPageNumber()) * pagination.getItemNumberPerPage()) %}
						{% trans with {
                    'total': pagination.getTotalItemCount(), 
                    'start': ((pagination.getCurrentPageNumber() - 1) * pagination.getItemNumberPerPage()), 
                    'end': end > pagination.getTotalItemCount() ? pagination.getTotalItemCount() : end
                } %}Out of :total records :start - :end is monitoring{% endtrans %}
					</caption>
					<thead>
						<tr>
							{% block headers %}
								{% for column, data in this.getTableBuildData()["headers"] %}
									{% if data.sortable is defined and data.sortable %}
										<th class="min-w-10 text-gray-700 font-normal text-start text-nowrap">
											<button class="flex w-full justify-between align-baseline" data-action="live#action" data-live-action-param="setSort" data-live-sort-param="{{ column }}" data-live-direction-param="{{ this.direction == 'DESC' ? 'ASC' : 'DESC' }}" role='button'>
												{% set sorted = this.sort == column %}
												<span class="text-current me-4">{{ data.label }}</span>
												{% if sorted %}
													{% if direction == 'ASC' %}
														<span class='ki-solid ki-up'></span>
													{% else %}
														<span class='ki-solid ki-down'></span>
													{% endif %}
												{% else %}
													<span class='ki-solid ki-sort'></span>
												{% endif %}
											</button>
										</th>
									{% else %}
										<th>{{ data.label|trans }}</th>
									{% endif %}
								{% endfor %}
							{% endblock %}
						</tr>
					</thead>
					<tbody class="text-gray-900 font-medium" {{ listTopic ? ('id="' ~ listTopic ~ '"')|raw }} {{ listTopic ? turbo_stream_listen(listTopic) }}>
						{% block rows %}
							{% if this.rowTemplateFile %}
								{% for object in pagination %}
									{% include this.rowTemplateFile with {object} %}
								{% else %}
									<tr>
										<td colspan="{{ this.getTableBuildData()["headers"]|length ?: 6 }}" class="px-6 py-3">{{ 'No Result Found'|trans }}</td>
									</tr>
								{% endfor %}
							{% endif %}
						{% endblock %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer">
			{% block pagination %}
				{{ knp_pagination_render(pagination, theme.themeDirectory ~ '/partials/_pagination.html.twig') }}
			{% endblock %}
		</div>
	</div>
</div>
