{% set flashes = app.flashes %}
{% if app.request.hasPreviousSession and flashes %}
	{% for type, messages in flashes %}
		{% set isTypeLast = loop.last %}
		{% for key, message in messages %}
			{% set isMessageLast = loop.last %}
			{% if isTypeLast and isMessageLast %}
				{% if type == 'error' %}
					<div {{ stimulus_controller('flashmessage') }} data-icon='{{ type }}' data-title="{{ type|trans }}" data-html='{{ message }}' data-show-confirm-button="true"></div>
				{% else %}
					<div {{ stimulus_controller('flashmessage') }} data-icon='{{ type }}' data-title="{{ type|trans }}" data-html='{{ message }}' data-toast="true" data-position="bottom-end" data-timer="2000"></div>
				{% endif %}
			{% else %}
				{% if type == 'warning' %}
					{% set iconClass = 'i-tabler-alert-triangle' %}
					{% set alertClass = 'alert-warning' %}
				{% elseif type == 'error' %}
					{% set iconClass = 'i-tabler-exclamation-circle' %}
					{% set alertClass = 'alert-error' %}
				{% elseif type == 'success' %}
					{% set iconClass = 'i-tabler-circle-check' %}
					{% set alertClass = 'alert-success' %}
				{% else %}
					{% set iconClass = 'i-tabler-info-circle' %}
					{% set alertClass = 'alert-info' %}
				{% endif %}
				{% set id = type ~ "-" ~ key %}
				<div class="alert {{ alertClass }} mb-4" role="alert" id="{{ id }}">
					<span class="{{ iconClass }} text-2xl"></span>
					<div>
						<span class="font-bold">{{ type|trans }}</span>
						<span class="ms-2">{{ message|trans }}</span>
					</div>
				</div>
			{% endif %}

		{% endfor %}
	{% endfor %}
{% endif %}
