<nav class="navbar bg-base-100 border-b border-base-300 px-4 sticky top-0 z-10" id="header">
	<div class="navbar-start">
		<button class="btn btn-ghost btn-sm sidebar-toggle">
			<span class="i-tabler-menu text-2xl"></span>
		</button>
		<div class="flex-1">
			<a href="{{ path('homepage') }}" class="flex items-center gap-2" data-turbo="false">
				<img class="dark:hidden h-[40px]" src="{{ asset('assets/logo.png') }}" alt="{{ app_name }}"/>
				<img class="hidden dark:block h-[40px]" src="{{ asset('assets/logo-dark.png') }}" alt="{{ app_name }}"/>
				{% block app_name %}
					<h2 class="text-lg font-semibold invisible">{{ app_name }}</h2>
				{% endblock %}
			</a>
		</div>
	</div>
	<div class="navbar-end">
		<div class="flex-none flex items-center gap-4">
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="btn btn-ghost">
					<div class="avatar">
						<div class="w-8 rounded-full">
							{% if app.user and app.user.profilePhoto %}
								<img alt="{{ app.user.name }}" src="{{ upload_asset(app.user.profilePhoto.filePath) }}"/>
							{% else %}
								<span class='i-tabler-user text-3xl'></span>
							{% endif %}
						</div>
					</div>
					<span class="font-medium max-w-24 truncate">{{ app.user ? app.user.name : 'Account'|trans }}</span>
					<span class="i-tabler-chevron-down text-lg"></span>
				</div>
				<ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
					{% if app.user %}
						<li>
							<a href="{{ path('app_profile') }}" data-turbo-frame="base-content">{% trans %}Profile{% endtrans %}</a>
						</li>
					{% endif %}
					<li>
						<button popovertarget="nav-theme-popover" style="anchor-name:--anchor-nav-theme-popover">
							<span>{% trans %}Theme{% endtrans %}</span>
							<span class="i-tabler-chevron-right text-lg ms-auto"></span>
						</button>
						<ul class="dropdown dropdown-content menu rounded-box !bg-base-100 shadow-sm z-20" popover id="nav-theme-popover" style="position-anchor:--anchor-nav-theme-popover">
							<li>
								<label class="flex items-center gap-2 cursor-pointer">
									<input type="radio" name="theme" value="light" class="radio radio-sm"/>
									<span>{% trans %}Light{% endtrans %}</span>
								</label>
							</li>
							<li>
								<label class="flex items-center gap-2 cursor-pointer">
									<input type="radio" name="theme" value="dark" class="radio radio-sm"/>
									<span>{% trans %}Dark{% endtrans %}</span>
								</label>
							</li>
							<li>
								<label class="flex items-center gap-2 cursor-pointer">
									<input type="radio" name="theme" value="system" class="radio radio-sm"/>
									<span>{% trans %}System{% endtrans %}</span>
								</label>
							</li>
						</ul>
					</li>
					<li>
						<button popovertarget="nav-language-popover" style="anchor-name:--anchor-nav-language-popover">
							<span>{% trans %}Language{% endtrans %}</span>
							<div class="badge badge-outline badge-primary">
								{{ app.request.locale|upper }}
							</div>
							<span class="i-tabler-chevron-right text-lg ms-auto"></span>
						</button>
						<ul class="dropdown dropdown-content menu rounded-box !bg-base-100 shadow-sm z-20" popover id="nav-language-popover" style="position-anchor:--anchor-nav-language-popover">
							{% for locale in locales() %}
								{% set is_active = app.request.locale == locale.code %}
								{% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
								<li>
									<a class="flex justify-around" translate="no" lang="{{ locale.code }}" hreflang="{{ locale.code }}" href="?_locale={{ locale.code }}" data-turbo="false">
										{% if is_active %}
											<div class="indicator">
												<span class="indicator-item status status-success"></span>
												<div class="badge badge-outline badge-primary">
													{{ locale.code|upper }}
													-
													{{ locale.name }}
												</div>
											</div>
										{% else %}
											<div class="badge badge-outline badge-primary">
												{{ locale.code|upper }}
												-
												{{ locale.name }}
											</div>
										{% endif %}
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
					{% if app.user %}
						<li>
							<a class="text-primary" href="{{ is_granted('IS_IMPERSONATOR') ? impersonation_exit_path(path('homepage')) : path('app_logout') }}" data-turbo="false">
								{% trans %}Logout{% endtrans %}
							</a>
						</li>
					{% else %}
						<li>
							<a class="text-primary" href="{{ path('app_login') }}" data-turbo="false">
								{% trans %}Login{% endtrans %}
							</a>
						</li>
						<li>
							<a class="text-primary" href="{{ path('app_register') }}" data-turbo="false">
								{% trans %}Register{% endtrans %}
							</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</div>
</nav>
