<nav class="flex justify-center mt-5 w-full p-3">
	<div class="join">
		{% if current == 0 %}
			{% set current = 1 %}
			{% set last = 1 %}
		{% endif %}

			{% if first is defined and current != first %}
				<button data-model="{{ pageParameterName }}" data-value="{{ first }}" data-action="live#update" role="button" class="btn join-item">
					<span class="sr-only">{% trans %}Previous{% endtrans %}</span>
					<i class="i-tabler-chevrons-left"></i>
				</button>
			{% endif %}
			{% if previous is defined %}
				<button data-model="{{ pageParameterName }}" data-value="{{ previous }}" data-action="live#update" role="button" class="btn join-item">
					<span class="sr-only">{% trans %}Previous{% endtrans %}</span>
					<i class="i-tabler-chevron-left"></i>
				</button>
			{% endif %}
			{% for page in pagesInRange %}
				{% if page != 0 %}
					{% if page != current %}
						<button data-model="{{ pageParameterName }}" data-value="{{ page }}" data-action="live#update" role="button" class="btn join-item">
							{{ page }}
						</button>
					{% else %}
						<button class="btn join-item btn-active" disabled>
							{{ page }}
						</button>
					{% endif %}
				{% endif %}
			{% endfor %}

			{% if next is defined %}
				<button data-model="{{ pageParameterName }}" data-value="{{ next }}" data-action="live#update" role="button" class="btn join-item">
					<span class="sr-only">{% trans %}Next{% endtrans %}</span>
					<i class="i-tabler-chevron-right"></i>
				</button>
			{% endif %}

			{% if last is defined and current != last %}
				<button data-model="{{ pageParameterName }}" data-value="{{ last }}" data-action="live#update" role="button" class="btn join-item">
					<span class="sr-only">{% trans %}Next{% endtrans %}</span>
					<i class="i-tabler-chevrons-right"></i>
				</button>
			{% endif %}
		</div>
	</nav>
