<div class="sidebar-placeholder w-15 hidden md:block"></div>
<aside class="bg-base-200 border-r border-base-300 flex flex-col h-screen overflow-auto sidebar" id="sidebar">
	<div class="py-4 px-3 text-xl font-bold tracking-wide">
		<div class="flex items-center gap-2">
			<img class="dark:hidden h-[40px]" src="{{ asset('assets/favicon.png') }}"/>
			<img class="hidden dark:block h-[40px]" src="{{ asset('assets/favicon.png') }}"/>
			<div class="sidebar-mark">{{ app_name }}</div>
			<button class="btn btn-ghost btn-sm sidebar-toggle ms-auto">
				<span class="i-tabler-x text-2xl"></span>
			</button>
		</div>
	</div>
	<nav class="flex-1 overflow-y-auto">
		<ul class="menu menu-vertical px-2 w-full text-xl">
			<li>
				<a href="{{ path('homepage') }}" data-turbo-frame="base-content">
					<i class="i-tabler-home"></i>
					<span>{% trans %}Home{% endtrans %}</span>
				</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('app_admin') }}" data-turbo-frame="base-content">
						<i class="i-tabler-dashboard"></i>
						<span>{% trans %}Dashboard{% endtrans %}</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_users_index') }}" data-turbo-frame="base-content">
						<i class="i-tabler-users"></i>
						<span>{% trans %}Users{% endtrans %}</span>
					</a>
				</li>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li>
						<a href="{{ path('app_admin_files_index') }}" data-turbo-frame="base-content">
							<i class="i-tabler-files"></i>
							<span>{% trans %}Files{% endtrans %}</span>
						</a>
					</li>
						<li>
							<a href="{{ path('app_admin_configuration_index') }}" data-turbo-frame="base-content">
								<i class="i-tabler-settings"></i>
								<span>{% trans %}Configurations{% endtrans %}</span>
							</a>
						</li>
					<li>
						<a href="{{ path('app_admin_page_index') }}" data-turbo-frame="base-content">
							<i class="i-tabler-files"></i>
							<span>{% trans %}Pages{% endtrans %}</span>
						</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
	</nav>
</aside>
