<input id="app-drawer" type="checkbox" class="drawer-toggle"/>
<div class="drawer-side z-50 is-drawer-close:overflow-visible">
	<label for="app-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
	<div class="flex min-h-full flex-col bg-base-200 border-r border-base-300 is-drawer-close:w-16 is-drawer-open:w-64 is-drawer-close:overflow-visible overflow-y-auto">
		<div class="py-4 px-3 border-b border-base-300 flex items-center gap-2">
			<img class="dark:hidden h-[40px] is-drawer-open:!hidden" src="{{ asset('assets/favicon.png') }}"/>
			<img class="hidden dark:block h-[40px] is-drawer-open:!hidden" src="{{ asset('assets/favicon.png') }}"/>

			<img class="dark:hidden h-[40px] is-drawer-close:!hidden" src="{{ asset('assets/logo.png') }}" alt="{{ app_name }}"/>
			<img class="hidden dark:block h-[40px] is-drawer-close:!hidden" src="{{ asset('assets/logo-dark.png') }}" alt="{{ app_name }}"/>
		</div>
		<nav class="flex-1 is-drawer-close:overflow-visible overflow-y-auto">
			<ul class="menu w-full grow">
				<li>
					<a href="{{ path('homepage') }}" data-turbo-frame="base-content" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans %}Home{% endtrans %}">
						<i class="i-tabler-home text-xl"></i>
						<span class="is-drawer-close:hidden">{% trans %}Home{% endtrans %}</span>
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('app_admin') }}" data-turbo-frame="base-content" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans %}Dashboard{% endtrans %}">
							<i class="i-tabler-dashboard text-xl"></i>
							<span class="is-drawer-close:hidden">{% trans %}Dashboard{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_admin_users_index') }}" data-turbo-frame="base-content" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans %}Users{% endtrans %}">
							<i class="i-tabler-users text-xl"></i>
							<span class="is-drawer-close:hidden">{% trans %}Users{% endtrans %}</span>
						</a>
					</li>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
						<li>
							<a href="{{ path('app_admin_files_index') }}" data-turbo-frame="base-content" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans %}Files{% endtrans %}">
								<i class="i-tabler-files text-xl"></i>
								<span class="is-drawer-close:hidden">{% trans %}Files{% endtrans %}</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_admin_configuration_index') }}" data-turbo-frame="base-content" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans %}Configurations{% endtrans %}">
								<i class="i-tabler-settings text-xl"></i>
								<span class="is-drawer-close:hidden">{% trans %}Configurations{% endtrans %}</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_admin_page_index') }}" data-turbo-frame="base-content" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans %}Pages{% endtrans %}">
								<i class="i-tabler-file-text text-xl"></i>
								<span class="is-drawer-close:hidden">{% trans %}Pages{% endtrans %}</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_admin_category_index') }}" data-turbo-frame="base-content" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="{% trans %}Categories{% endtrans %}">
								<i class="i-tabler-list-tree text-xl"></i>
								<span class="is-drawer-close:hidden">{% trans %}Categories{% endtrans %}</span>
							</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
