<nav class="flex justify-center mt-5">
	<ul class="flex items-center -space-x-px h-8 text-sm">
		{% if current == 0 %}
			{% set current = 1 %}
			{% set last = 1 %}
		{% endif %}

		{% if first is defined and current != first %}
			<li>
				<label role='button' class="flex items-center justify-center px-2 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
					<span class="sr-only">{% trans %}Previous{% endtrans %}</span>
					<span class='i-tabler-chevrons-left'></span>
					<input type='radio' class='hidden' name='pagination_page' value='{{ first }}' data-model='{{ pageParameterName }}'/>
				</bel>
			</li>
		{% endif %}
		{% if previous is defined %}
			<li>
				<label role='button' class="flex items-center justify-center px-2 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
					<span class="sr-only">{% trans %}Previous{% endtrans %}</span>
					<span class='i-tabler-chevron-left'></span>
					<input type='radio' class='hidden' name='pagination_page' value='{{ previous }}' data-model='{{ pageParameterName }}'/>
				</label>
			</li>
		{% endif %}
		{% for page in pagesInRange %}
			{% if page != 0 %}
				{% if page != current %}
					<li>
						<label role='button' class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
							{{page}}
							<input type='radio' class='hidden' name='pagination_page' value='{{ page }}' data-model='{{ pageParameterName }}'/>
						</label>
					</li>
				{% else %}
					<li>
						<span class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">
							{{page}}
						</span>
					</li>
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if next is defined %}
			<li>
				<label role='button' class="flex items-center justify-center px-2 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
					<span class="sr-only">{% trans %}Next{% endtrans %}</span>
					<span class='i-tabler-chevron-right'></span>
					<input type='radio' class='hidden' name='pagination_page' value='{{ next }}' data-model='{{ pageParameterName }}'/>
				</label>
			</li>
		{% endif %}

		{% if last is defined and current != last %}
			<li>
				<label role='button' class="flex items-center justify-center px-2 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 rounded-e-lg hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
					<span class="sr-only">{% trans %}Next{% endtrans %}</span>
					<span class='i-tabler-chevrons-right'></span>
					<input type='radio' class='hidden' name='pagination_page' value='{{ last }}' data-model='{{ pageParameterName }}'/>
				</label>
			</li>
		{% endif %}
	</ul>
</nav>
