{% apply inky_to_html|inline_css(source('@emails/foundation-emails.css')) %}
    <container>
        <row>
            <columns>
                <spacer size="20"></spacer>
                <center>
                    <a href="{{ url('homepage') }}">
                        <img src="{{ email.image('@assets/logo.png') }}" width="150" alt="{{ app_name }}">
                    </a>
                </center>
                <spacer size="20"></spacer>
            </columns>
        </row>

        {% block content %}
            <row>
                <columns>
                    <center>
                        <h1>{{ subject|default('')|trans|raw }}</h1>
                        <p>{{ message|default('')|trans|raw }}</p>
                        {% if buttonUrl is defined %}
                            <spacer size="16"></spacer>
                            <button class="primary" href="{{ buttonUrl }}">
                                {{ buttonText|default('View')|trans }}
                            </button>
                        {% endif %}
                    </center>
                </columns>
            </row>
        {% endblock %}

        <row class="footer">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <small>{{ app_name }}</small>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}