{% extends 'admin/page/index.html.twig' %}


{% block backLink %}
	<div class="flex items-center mx-3 flex-wrap gap-1 lg:gap-5">
		<a href="{{ path('app_admin_page_index') }}" class="btn btn-light">
			<i class="ki-filled ki-left"></i>
			{% trans %}Back{% endtrans %}
		</a>
	</div>
{% endblock %}

{% block body %}
	<div class="p-4">
		<div class="flex flex-wrap p-3">
			<div class="md:w-9/12 w-full">
				<div class='mb-3'>
					<label class='font-bold'>{% trans %}created_at{% endtrans %}</label>
					<div>{{ page.createdAt|format_datetime('full', 'short') }}</div>
				</div>
				<div class='mb-3'>
					<label class='font-bold'>{% trans %}updated_at{% endtrans %}</label>
					<div>{{ page.updatedAt|format_datetime('full', 'short') }}</div>
				</div>				
				{{ include('admin/page/_form.html.twig') }}
			</div>
			<div class="md:w-3/12 w-full">
				<div class='md:p-3 p-0'>
					{{ include('admin/page/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
